.header-container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  height: 100%;
}

.run-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.quit-container {
  margin-left: auto;
}