.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  /* align-items: center; */
  /* padding-bottom: 10px; */
  /* display: flex;
  gap: 10px;
  padding: 10px;
  height: 100%; */
}

.timer-container {
  flex: 1;
}


.run-container {
  
} 

.quit-container {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  padding: 5px;
  /* margin-left: auto; */
}