.header-container {
  display: flex;
  align-items: center;
  /* gap: 10px; */
  /* padding-bottom: 10px; */
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 100%; */
}

.timer-container {
  flex: 1;
}

.run-container {
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
}

.quit-container {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  /* margin-left: auto; */
}