.quit-button {
  background-color: #e74c3c; 
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 8px;
  border: 1px solid white;

}

.quit-button:hover {
  background-color: #c0392b; 
  transform: scale(1.05); 
}

.quit-button:active {
  background-color: #a93226; 
  transform: scale(0.95); 
}