.run-button {
  width: 100px;
  height: 40px;
  border: 1px solid white;
  border-radius: 8px;
  background-color: #FFA500;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.run-button:hover {
  background-color: #FF8C00; 
  transform: scale(1.05);
}

.run-button:active {
  background-color: #FF8C00; 
  transform: scale(0.95); 
}